@model MetalBake.Web.Models.ItemStock
@{
    ViewBag.Title = "Edit";
}

<h2>Editar stock @Model.ItemId</h2>
@using (Html.BeginForm("SetNewStock", "Stock"))
{
    @Html.HiddenFor(item => item.ItemId)
    <div class="form-inline">
        @Html.TextBoxFor(item => item.Stock, new { @class = "form-control" })
        <input type="submit" value="Cambiar" class="btn btn-primary" />
    </div>
}