@{
    ViewBag.Title = "AddToCart";
}

<div class="alert alert-success" style="margin-top: 50px" role="alert">
    Añadido al Carrito
</div>

@Html.ActionLink("Añadir más", "Index", "Order", null, new { @class = "btn btn-link" })

@Html.ActionLink("Hacer pedido", "MakeAnOrder", "Order", null, new { @class = "btn btn-primary" })