@model MetalBake.Web.Models.ItemsList
@{
    ViewBag.Title = "Index";
}

<h2>Listado de productos</h2>
@using (Html.BeginForm("AddToCart", "Order"))
{

    <div class="form-inline">
        <select name="itemId" class="form-control">
            @foreach (var item in Model.ListOfItems)
            {
                <option value="@item.ItemId">@item.Name Precio: @item.Price Stock: @item.Stock </option>
            }
        </select>
        <input type="number" name="Quantity" class="form-control" />
        <input type="submit" value="Añadir al carrito" class="btn btn-primary" />
    </div>
}