@model MetalBake.Web.Models.ItemsList
@{
    ViewBag.Title = "Index";
}

<h2>Listado de productos</h2>
@using (Html.BeginForm("GoToCart", "Order"))
{
    <ul>
        @foreach (var item in Model.ListOfItems)
        {
            <li>@item.ItemId @item.Name @item.Price @item.Stock <input type="number" name="Quantit_@item.ItemId" /> </li>
        }
    </ul>
    <input type="submit" value="Añadir al carrito" />
}