@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <span class="metal-title">Metal bakÀ</span>
    <p>@Html.ActionLink("Iniciar pedido", "Index", "Order", null, new { @class = "btn  btn-primary btn-lg" })</p>
</div>