@model MetalBake.Web.Models.ItemPrice
@{
    ViewBag.Title = "Edit";
}

<h2>Editar precio de @Model.ItemId</h2>

@using (Html.BeginForm("SetNewPrice", "Price"))
{
    @Html.HiddenFor(item => item.ItemId)

    <div class="form-inline">
        @Html.TextBoxFor(item => item.Price, new { @class = "form-control" })
        <input type="submit" value="Cambiar" class="btn btn-primary" />
    </div>
}